<div class="p-x">
  <div class="row">
  	<button class="btn btn-md btn-danger m-t-lg m-b-lg full-w" ng-click="prevMenu()" ><i class="glyphicon glyphicon-backward"></i> กลับไปเมนูก่อนหน้า</button>
  	<button class="btn btn-md btn-primary m-b-md" ng-click="patchPatient(patient, _links.self.href)" ng-if="checkPermission('ROLE_PROF')" ><span>save</span></button>
  	
  	<div class="row">
  		<form class="form-horizontal" role="form">
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label"><span class="require">*</span>ข้อมูลนี้เป็นของผู้ป่วย(user id ของผู้ป่วย) </label>
			  	<select class="form-control m-b-md" ng-disabled="!checkPermission('ROLE_PROF') || (null == mode)" ng-model="patient.indexName"
									ng-options="u.userName as (u.userName +' ('+ u.name +')') for u in userPatients">
				</select>
	  		</div>
  		</form>
  	</div>
  </div>
  <div class="row">
  
  
  	<form class="form-horizontal" role="form" name="patientForm">
	<md-content>
	    <md-tabs md-dynamic-height md-border-bottom>
	      <md-tab label="ข้อมูลผู้ป่วย">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">กรอกข้อมูลผู้ป่วย</h1>
		          <div class="form-group">
		            <label class="col-sm-2 text-uppercase control-label">ชื่อ สกุล ผู้รับบริการ <span class="require">*</span></label>
		            <div class="col-sm-8">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="name" ng-model="patient.name" required maxlength="150">
		            </div>
		          </div>
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">อายุ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="age" ng-model="patient.age" maxlength="20">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">เบอร์โทรศัพท์</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="mobile" ng-model="patient.mobile" maxlength="10">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">บ้านเลขที่</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="houseNo" ng-model="patient.houseNo" maxlength="50">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">หมู่</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="groupNo" ng-model="patient.groupNo" maxlength="150">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ตำบล</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="district" ng-model="patient.district" maxlength="150">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">อำเภอ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="prefecture" ng-model="patient.prefecture" maxlength="150">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">จังหวัด</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="province" ng-model="patient.province" maxlength="150">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">วินิจฉัยโรค</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="diagnose" ng-model="patient.diagnose" maxlength="300">
		          	</div>
		          </div>  
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ระยะเวลาที่ป่วย/เริ่มป่วยเมื่อ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="period" ng-model="patient.period" maxlength="150">
		          	</div>
		          </div>  
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ชื่อผู้ดูแลหลัก</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="curator" ng-model="patient.curator" maxlength="150">
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">อายุ</label>
		          	<div class="col-sm-2">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="curatorAge" ng-model="patient.curatorAge" maxlength="50">
		          	</div>
		          	<label class="col-sm-6 text-uppercase control-label text-left-imp">ปี</label>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ความสัมพันธ์กับผู้ป่วย</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="curatorRelation" ng-model="patient.curatorRelation" maxlength="150">
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ชื่อ อ.ส.ม ที่รับผิดชอบ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="supervisor" ng-model="patient.supervisor" maxlength="50">
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">เบอร์โทรศัพท์</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="supervisorMobile" ng-model="patient.supervisorMobile" maxlength="10">
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 left text-uppercase control-label">การเยี่ยม</label>
		          		<div class="col-sm-8">
		          			<table class="table table-fixed-layout">
		          				<tr>
		          					<th>ครั้งที่</th>
		          					<th>วันที่</th>
		          					<th></th>
		          				</tr>
		          				<tr ng-repeat="v in visits">
		          					<td>{{$index+1}}</td>
		          					<td>{{v.date| date:"dd/MM/yyyy"}}</td>
		          					<td><button class="btn btn-md btn-danger" ng-if="checkPermission('ROLE_PROF')" ng-click="delVisit(patient.patientId, v.logId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
		          				</tr>
		          				<tr ng-if="checkPermission('ROLE_PROF')">
		          					<td></td>
		          					<td>
	<!-- 	          						<input type="text" class="form-control datepicker" placeholder="" name="date" ng-model="visit.date"> -->
		          						<md-datepicker ng-model="visit.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
		          					</td>
		          					<td><button class="btn btn-md btn-info" ng-click="addVisit(visit,_links.visits.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
		          				</tr>
		          			</table>
			          	</div>
		          </div> 
	        </md-content>
	      </md-tab>
	      <md-tab label="ข้อมูลในการดูแลตนเองของผู้ป่วยและผู้ดูแล">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">กรอกข้อมูลในการดูแลตนเองของผู้ป่วยและผู้ดูแล(พยาบาล)</h1>
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">อาการเจ็บป่วยปัจจุบัน</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nSickness" ng-model="patient.nSickness"> -->
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nSickness" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">General Appearance</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nGeneralAppearance" ng-model="patient.nGeneralAppearance"> -->
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nGeneralAppearance" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label"><b>สัญญาณชีพ</b></label>
          				<div class="col-sm-12"></div>
			         	<label class="col-sm-2 text-uppercase control-label">อุณหภูมิร่างกาย(BT)</label>
			          	<div class="col-sm-6">
			          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="nBodyTemp" ng-model="patient.nBodyTemp">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">องศาเซลเซียส</label>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">สัญญาณชีพ(PR)</label>
			          	<div class="col-sm-6">
			          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="nPulseRate" ng-model="patient.nPulseRate">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">ครั้งต่อนาที</label>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">(RR)</label>
			          	<div class="col-sm-6">
			          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="nRespiratoryRate" ng-model="patient.nRespiratoryRate">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">ครั้งต่อนาที</label>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">แรงดันเลือด(BP)</label>
			          	<div class="col-sm-6">
			          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="nBloodPressure" ng-model="patient.nBloodPressure">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">มม.ปรอท</label>
	         </div>
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">การช่วยเหลือตนเองของผู้ป่วย</label>
	          	<div class="col-sm-8">
	          		<select class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.nSelfHelp"
						ng-options="r.infoTh as r.infoTh for r in combo.COMBO_SELF_HELP">
	          		</select>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ประเมินภาวะโภชนาการอาหาร(ทางที่ได้รับ, ชนิด, ปริมาณ)</label>
	          	<div class="col-sm-8">
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nFoodCondition" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ประเมินสภาพจิตใจและสังคม</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nMentalCondition" ng-model="patient.nMentalCondition"> -->
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nMentalCondition" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">การดูแลผู้ป่วยของผู้ดูแล</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nHowSupTakeCare" ng-model="patient.nHowSupTakeCare"> -->
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nHowSupTakeCare" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label"><b>การตรวจร่างกาย</b></label>
	          			<div class="col-sm-12"></div>
			         	<label class="col-sm-2 text-uppercase control-label">ตามระบบ(เน้นระบบที่มีปัญหา)</label>
			          	<div class="col-sm-8">
<!-- 			          		<input type="text" class="form-control" placeholder="" name="nCheckBySystem" ng-model="patient.nCheckBySystem"> -->
			          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nCheckBySystem" maxlength="300"></textarea>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">อุปกรณ์พิเศษที่ใช้</label>
			          	<div class="col-sm-8">
			          		<div class="input-group">
								<select class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.nCheckByTools"
									ng-options="r.infoCode as r.infoTh for r in combo.COMBO_SPECIAL_TOOL">
				          		</select>
				          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" ng-show="'99'==patient.nCheckByTools" class="form-control" placeholder="" maxlength="200" name="nCheckByToolsDesc" ng-model="patient.nCheckByToolsDesc">
			          		</div>
			          	</div>
	         </div>
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">วินิจฉัยปัญหา</label>
	          	<div class="col-sm-8">
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nDiagnosis" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">การดูแล</label>
	          	<div class="col-sm-8">
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nCare" maxlength="300"></textarea>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ประเมินผล</label>
	          	<div class="col-sm-8">
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.nEstimate" maxlength="300"></textarea>
	          	</div>
	          </div> 
	        </md-content>
	      </md-tab>
	      <md-tab label="ข้อมูลด้านสังคมและเศรษฐกิจ">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">กรอกข้อมูลด้านสังคมและเศรษฐกิจ(นักสังคมสงเคราะห์)</h1>
			<div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">อาชีพก่อนป่วย</label>
	          	<div class="col-sm-8">
	          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="sFormerJob" maxlength="100" ng-model="patient.sFormerJob">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ระยะเวลาการทำงาน</label>
	          	<div class="col-sm-6">
	          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="sWorkDuration" maxlength="50" ng-model="patient.sWorkDuration">
	          	</div>
	          	<label class="col-sm-2 text-uppercase center">ปี</label>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ก่อนป่วยผู้ป่วยมีรายได้ต่อเดือน / ต่อสัปดาห์</label>
	          	<div class="col-sm-8">
	          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="sIncome" maxlength="100" ng-model="patient.sIncome">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ลักษณะที่อยู่อาศัย</label>
	          	<div class="col-sm-8">
	          		<div class="input-group">
		          		<select class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.sResidence"
							ng-options="r.infoCode as r.infoTh for r in combo.COMBO_RESIDENCE">
		          		</select>
						<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" ng-show="'02'==patient.sResidence" class="form-control" placeholder="" maxlength="100" name="sResidenceCost" ng-model="patient.sResidenceCost">
		          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" ng-show="'03'==patient.sResidence" class="form-control" placeholder="" maxlength="100" name="sResidenceRelation" ng-model="patient.sResidenceRelation">
	          		</div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ลักษณะบ้าน / พื้นที่ใช้สอยมาพอสังเขป หากจะถ่ายรูปต้องขออนุญาตจากเจ้าของบ้านก่อน</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="sResidenceDescription" ng-model="patient.sResidenceDescription"> -->
	          		<text-angular ta-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.sResidenceDescription"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">สมาชิกในครอบครัว จำนวน</label>
	          	<div class="col-sm-2">
	          		<input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" maxlength="4"  name="sFamilyCount" ng-model="patient.sFamilyCount">
	          	</div>
	          	<label class="col-sm-6 text-uppercase control-label text-left-imp">คน /ความสัมพันธ์ / อาชีพ/ รายได้ของบุคคลในครอบครัว</label>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label">สมาชิกในครอบครัว</label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>ชื่อสมาชิกในครอบครัว</th>
	          					<th>อายุ</th>
	          					<th>มีความสัมพันธ์</th>
	          					<th>อาชีพ</th>
	          					<th>รายได้</th>
	          					<th>หมายเหตุ</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="m in members">
	          					<td>{{m.name}}</td>
	          					<td>{{m.age}}</td>
	          					<td>{{m.relation}}</td>
	          					<td>{{m.job}}</td>
	          					<td>{{m.income}}</td>
	          					<td>{{m.remark}}</td>
	          					<td><button class="btn btn-md btn-danger" ng-if="checkPermission('ROLE_PROF')" ng-click="delMember(patient.patientId, m.memberId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
	          				</tr>
	          				<tr ng-if="checkPermission('ROLE_PROF')">
	          					<td><input type="text" class="form-control" placeholder="" name="name" ng-model="member.name"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="age" ng-model="member.age"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="relation" ng-model="member.relation"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="job" ng-model="member.job"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="income" ng-model="member.income"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="remark" ng-model="member.remark"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addMember(member,_links.members.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">เขียนสาแหรกครอบครัว (Genogram) หรือต้นไม้ครอบครัว (Family tree)</label>
	          	<div class="col-sm-8">
					<img alt="" ng-src="/ipe/service/geno/viewImage/{{patient.sGenogramImg}}" style="    width: 100%;">
				    <span><i class="fa fa-camera" aria-hidden="true"></i> เลือกรูป / ถ่ายภาพ</span>
				    <input class="upload" type="file" accept="image/*" capture="camera" file-model="myFile" id="geno" name="geno"/>
					<md-button class="md-raised full-w" ng-if="checkPermission('ROLE_PROF')" ng-click= "uploadGeno()"><i class="glyphicon glyphicon-open"></i>ส่งรูป</md-button>
<!-- 	          		<input type="text" class="form-control" placeholder="" name="sGenogramImg" ng-model="patient.sGenogramImg"> -->
<!-- 	          		<text-angular ta-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.sGenogramImg"></text-angular> -->
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">เขียนผังนิเวศ(Eco map)ของผู้รับบริการ</label>
	          	<div class="col-sm-8">
					<img alt="" ng-src="/ipe/service/eco/viewImage/{{patient.sEcoMapImg}}" style="    width: 100%;">
				    <span><i class="fa fa-camera" aria-hidden="true"></i> เลือกรูป / ถ่ายภาพ</span>
				    <input class="upload" type="file" accept="image/*" capture="camera" file-model="myFile" id="eco" name="eco"/>
					<md-button class="md-raised full-w" ng-if="checkPermission('ROLE_PROF')" ng-click= "uploadEco()"><i class="glyphicon glyphicon-open"></i>ส่งรูป</md-button>
<!-- 	          		<input type="text" class="form-control" placeholder="" name="sEcoMapImg" ng-model="patient.sEcoMapImg"> -->
<!-- 	          		<text-angular ta-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.sEcoMapImg"></text-angular> -->
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label"><b>การประเมินสภาวะของผู้รับบริการในประเด็นต่อไปนี้</b></label>
	          			<div class="col-sm-12"></div>
			         	<label class="col-sm-2 text-uppercase control-label">การประเมินสภาวะกาย จิต สังคม</label>
			          	<div class="col-sm-8">
			          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.sMentalCondition" maxlength="300"></textarea>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">การประเมินสภาวะครอบครัว</label>
			          	<div class="col-sm-8">
			          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.sFamilyCondition" maxlength="300"></textarea>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">การประเมินความเสี่ยง</label>
			          	<div class="col-sm-8">
			          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.sRiskCondition" maxlength="300"></textarea>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">การประเมินตวามต้องการ</label>
			          	<div class="col-sm-8">
			          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.sNeedCondition" maxlength="300"></textarea>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">แนวทางการวางแผนให้ความช่วยเหลือ</label>
			          	<div class="col-sm-8">
			          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="105" ng-model="patient.sHelpingGuid" maxlength="300"></textarea>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">แผนที่บ้านผู้รับบริการ</label>
          				<div class="col-sm-8">
							<img alt="" ng-src="/ipe/service/map/viewImage/{{patient.sPatientMapImg}}" style="width: 100%;">
						    <span><i class="fa fa-camera" aria-hidden="true"></i> เลือกรูป / ถ่ายภาพ</span>
						    <input class="upload" type="file" accept="image/*" capture="camera" file-model="myFile" id="map" name="map">
							<md-button class="md-raised full-w" ng-if="checkPermission('ROLE_PROF')" ng-click= "uploadMap()"><i class="glyphicon glyphicon-open"></i>ส่งรูป</md-button>
						</div>
<!-- 			          	<div class="col-sm-8"> -->
<!-- 			          		<text-angular ta-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.sPatientMapImg"></text-angular> -->
<!-- 			          	</div> -->
	         </div>
	        </md-content>
	      </md-tab>
	      <md-tab label="ข้อมูลการใช้ยา">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">กรอกข้อมูลการใช้ยา</h1>
	          <div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label">ข้อมูลการใช้ยา</label>
	          		<div class="col-sm-10">
		          		
						<table class="table table-fixed-layout">
						    <tbody ng-repeat="d in useDrugs" ng-init="getDrugList(d)" class="m-b-n-g">
						        <tr>
						          <th>วันที่</th>
					          		<td>
					          			<div class="col-sm-8">
					          			{{d.date | date:"dd/MM/yyyy"}}
					          			</div>
					          		</td>
						        </tr>
						        <tr>
						          <th>การใช้ยา / วิตามิน /อาหารเสริม</th>
							          <td>
							          	<div class="col-sm-8">
				    						<table class="table table-fixed-layout">
			          							<tr>
			          								<th>รายการยา</th>
			          								<th>วิธีการบริหาร</th>
			          								<th>จำนวน</th>
			          								<th></th>
			          							</tr>
			          							<tr ng-repeat="l in drugList[d.drugId]">
			          								<td>{{l.drugName}}</td>
			          								<td>{{l.managing}}</td>
			          								<td>{{l.qty}}</td>
			          								<td><button class="btn btn-md btn-danger" ng-if="checkPermission('ROLE_PROF')" ng-click="delXDurgList(d.drugId, l.listId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
			          							</tr>
			          							<tr>
			          								<td rowspan="3" class="p-a"><input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="drugName" ng-model="nl.drugName"></td>
			          								<td rowspan="3" class="p-a"><input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="managing" ng-model="nl.managing"></td>
			          								<td rowspan="3" class="p-a"><input type="text" ng-disabled="!checkPermission('ROLE_PROF')" class="form-control" placeholder="" name="qty" ng-model="nl.qty"></td>
			          								<td rowspan="3" class="p-a"><button class="btn btn-md btn-info" ng-if="checkPermission('ROLE_PROF')" ng-click="addXDrugList(nl, d._links.drugList.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
			          							</tr>
			          						</table>
							          	</div>
		          					  </td>
						        </tr>
						        <tr>
						          <th>การแพ้ยา</th>
						            <td>
						            	<div class="col-sm-8">
							            	<select class="full-w form-control m-b" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="d.isAllergy"
												ng-options="r.infoTh as r.infoTh for r in combo.COMBO_DRUG_ALLERGY">
							          		</select>
							          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="30" ng-model="d.allergyDescription" maxlength="300"></textarea>
						            	</div>
						            </td>
						        </tr>
						      	<tr>
						          <th>การติดตามใช้ยา</th>
						          	<td>
						          		<div class="col-sm-8">
			          						<select class="full-w form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="d.usingDrug"
												ng-options="r.infoTh as r.infoTh for r in combo.COMBO_DRUG_USING">
							          		</select>						          		
						          		</div>
						          	</td>
						        </tr>
   						      	<tr>
						          <th>คำแนะนำใช้ยา</th>
						          	<td>
						          		<div class="col-sm-8">
											<textarea class="form-control" rows="3" ng-disabled="!checkPermission('ROLE_PROF')" cols="30" ng-model="d.drugAdvice" maxlength="300"></textarea>
						          		</div>
						          	</td>
						        </tr>
   						      	<tr>
						          <th>ปัญหาการใข้ยา</th>
						          	<td>
						          		<div class="col-sm-8">
			          						<select class="full-w form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="d.drugProblem"
												ng-options="r.infoTh as r.infoTh for r in combo.COMBO_DRUG_PROBLEM">
							          		</select>
						          		</div>
						          	</td>
						        </tr>
   						      	<tr>
						          <th>note</th>
						          	<td>
						          		<div class="col-sm-8">
						          			<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="30" ng-model="d.problemDescription" maxlength="300"></textarea>
						          		</div>
						          	</td>
						        </tr>
						        <tr>
						        	<th></th>
						        	<td><div class="col-sm-8">
						        			<button class="btn btn-md btn-info" ng-if="checkPermission('ROLE_PROF')" ng-click="saveXDrug(d, d._links.self.href)" >Save</button>
						        			<button class="btn btn-md btn-danger" ng-if="checkPermission('ROLE_PROF')" ng-click="delXDrug(patient.patientId, d.drugId)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
						        		</div>
						        	</td>
						        </tr>
						    </tbody>
						</table>
						<table class="table table-fixed-layout" ng-if="checkPermission('ROLE_PROF')">
						    <tbody>
						        <tr>
						          <th>วันที่</th>
					          		<td>
					          			<div class="col-sm-8">
<!-- 					          			<input type="text" class="form-control datepicker" placeholder="" name="date" ng-model="drug.date"> -->
					          			<md-datepicker ng-model="drug.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
					          			</div>
					          		</td>
						        </tr>
						        <tr>
						          <th>การใช้ยา / วิตามิน /อาหารเสริม</th>
							          <td>
							          	<div class="col-sm-8">
				    						<table class="table table-fixed-layout">
			          							<tr>
			          								<th>รายการยา</th>
			          								<th>วิธีการบริหาร</th>
			          								<th>จำนวน</th>
			          								<th></th>
			          							</tr>
			          							<tr ng-repeat="d in drugListTmp">
			          								<td>{{d.drugName}}</td>
			          								<td>{{d.managing}}</td>
			          								<td>{{d.qty}}</td>
			          								<td></td>
			          							</tr>
			          							<tr>
			          								<td rowspan="3" class="p-a"><input type="text" class="form-control" placeholder="" name="drugName" ng-model="drugList.drugName"></td>
			          								<td rowspan="3" class="p-a"><input type="text" class="form-control" placeholder="" name="managing" ng-model="drugList.managing"></td>
			          								<td rowspan="3" class="p-a"><input type="text" class="form-control" placeholder="" name="qty" ng-model="drugList.qty"></td>
			          								<td rowspan="3" class="p-a"><button class="btn btn-md btn-info" ng-click="addDrugList(drugList)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
			          							</tr>
			          						</table>
							          	</div>
		          					  </td>
						        </tr>
						        <tr>
						          <th>การแพ้ยา</th>
						            <td>
						            	<div class="col-sm-8">
							            	<select class="full-w form-control m-b" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="drug.isAllergy"
												ng-options="r.infoTh as r.infoTh for r in combo.COMBO_DRUG_ALLERGY">
							          		</select>
							          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="30" ng-model="drug.allergyDescription" maxlength="300"></textarea>
						            	</div>
						            </td>
						        </tr>
						      	<tr>
						          <th>การติดตามใช้ยา</th>
						          	<td>
						          		<div class="col-sm-8">
			          						<select class="full-w form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="drug.usingDrug"
												ng-options="r.infoTh as r.infoTh for r in combo.COMBO_DRUG_USING">
							          		</select>						          		
						          		</div>
						          	</td>
						        </tr>
   						      	<tr>
						          <th>คำแนะนำใช้ยา</th>
						          	<td>
						          		<div class="col-sm-8">
											<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="30" ng-model="drug.drugAdvice" maxlength="300"></textarea>
						          		</div>
						          	</td>
						        </tr>
   						      	<tr>
						          <th>ปัญหาการใข้ยา</th>
						          	<td>
						          		<div class="col-sm-8">
			          						<select class="full-w form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="drug.drugProblem"
												ng-options="r.infoTh as r.infoTh for r in combo.COMBO_DRUG_PROBLEM">
							          		</select>
						          		</div>
						          	</td>
						        </tr>
   						      	<tr>
						          <th>note</th>
						          	<td>
						          		<div class="col-sm-8">
						          			<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" rows="3" cols="30" ng-model="drug.problemDescription" maxlength="300"></textarea>
						          		</div>
						          	</td>
						        </tr>
						        <tr>
						        	<th></th>
						        	<td><div class="col-sm-8"><button class="btn btn-md btn-info" ng-disabled="!checkPermission('ROLE_PROF')" ng-click="addDrug(drug, _links.useDrugs.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></div></td>
						        </tr>
						    </tbody>
						</table>
		          	</div>
	          </div> 
	        </md-content>
	      </md-tab>
	      <md-tab label="ข้อมูลสุขภาพเบื้องต้น">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">กรอกข้อมูลสุขภาพเบื้องต้น</h1>
				<div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_01.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer1" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_01.A_01.infoCode">
					    {{param.Q_01.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer1" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_01.A_02.infoCode">
					    {{param.Q_01.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer1" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_01.A_03.infoCode">
					    {{param.Q_01.A_03.infoTh}}
					  </label>
	          	</div>
	          	
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_02.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer2" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_02.A_01.infoTh">
					    {{param.Q_02.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer2" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_02.A_02.infoTh">
					    {{param.Q_02.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer2" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_02.A_03.infoTh">
					    {{param.Q_02.A_03.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer2" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_02.A_04.infoTh">
					    {{param.Q_02.A_04.infoTh}}
					  </label>
					   <div class="row">
					  	<input type="text" placeholder="" name="gAnswer2" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer2">
					   </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_03.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer3" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_03.A_01.infoTh">
					    {{param.Q_03.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer3" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_03.A_02.infoTh">
					    {{param.Q_03.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer3" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_03.A_03.infoTh">
					    {{param.Q_03.A_03.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer3" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_03.A_04.infoTh">
					    {{param.Q_03.A_04.infoTh}}
					  </label>
					  <div class="row">
					  	<input type="text" placeholder="" name="gAnswer3" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer3">
					  </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_04.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer4" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_04.A_01.infoTh">
					    {{param.Q_04.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer4" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_04.A_02.infoTh">
					    {{param.Q_04.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer4" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_04.A_03.infoTh">
					    {{param.Q_04.A_03.infoTh}}
					  </label>
					  <div class="row">
					  	<input type="text" placeholder="" name="gAnswer4" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer4">
					  </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_05.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer5" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_05.A_01.infoTh">
					    {{param.Q_05.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer5" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_05.A_02.infoTh">
					    {{param.Q_05.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer5" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_05.A_03.infoTh">
					    {{param.Q_05.A_03.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer5" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_05.A_04.infoTh">
					    {{param.Q_05.A_04.infoTh}}
					  </label>
					  <div class="row">
					  	<input type="text" placeholder="" name="gAnswer5" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer5">
					  </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_06.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer6" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_06.A_01.infoTh">
					    {{param.Q_06.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer6" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_06.A_02.infoTh">
					    {{param.Q_06.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer6" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_06.A_03.infoTh">
					    {{param.Q_06.A_03.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer6" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_06.A_04.infoTh">
					    {{param.Q_06.A_04.infoTh}}
					  </label>
					  <div class="row">
					  	<input type="text" placeholder="" name="gAnswer6" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer6">
					  </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_07.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer7" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_07.A_01.infoTh">
					    {{param.Q_07.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer7" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_07.A_02.infoTh">
					    {{param.Q_07.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer7" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_07.A_03.infoTh">
					    {{param.Q_07.A_03.infoTh}}
					  </label>
					  <div class="row">
					  	<input type="text" placeholder="" name="gAnswer7" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer7">
					  </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_08.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer8" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_08.A_01.infoTh">
					    {{param.Q_08.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer8" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_08.A_02.infoTh">
					    {{param.Q_08.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer8" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_08.A_03.infoTh">
					    {{param.Q_08.A_03.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer8" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_08.A_04.infoTh">
					    {{param.Q_08.A_04.infoTh}}
					  </label>
					   <div class="row">
					  	<input type="text" placeholder="" name="gAnswer8" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer8">
					  </div>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{param.GE_QUESTION.Q_09.infoTh}}</label>
	          	<div class="col-sm-8">
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer9" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_09.A_01.infoTh">
					    {{param.Q_09.A_01.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer9" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_09.A_02.infoTh">
					    {{param.Q_09.A_02.infoTh}}
					  </label>
	          		  <label class="radio-inline">
					    <input type="radio" ng-model="patient.gAnswer9" ng-disabled="!checkPermission('ROLE_PROF')" ng-value="param.Q_09.A_03.infoTh">
					    {{param.Q_09.A_03.infoTh}}
					  </label>
					  <div class="row">
					  	<input type="text" placeholder="" name="gAnswer9" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="150" ng-model="patient.gAnswer9">
					  </div>
	          	</div>
	          </div> 
	        </md-content>
	      </md-tab>
	      <md-tab label="ผลการตรวจทางห้องปฏิบัติการ">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">กรอกข้อมูลพื้นฐานประวัติผลการตรวจทางห้องปฏิบัติการ</h1>
				<div class="form-group">
  				<div class="col-sm-8">
  					<table class="table table-fixed-layout">
						<tr>
							<th colspan="4">ข้อมูลพื้นฐานประวัติผลการตรวจทางห้องปฏิบัติการ</th>
						</tr>
						<tr>
							<th>รายการ</th>
							<th>ค่าปกติ</th>
							<th>ผลตรวจ</th>
							<th></th>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_GLUCOSE_LABEL_2.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_GLUCOSE_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lGlucose"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_CHOLESTEROL_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_CHOLESTEROL_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lCholesterol"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_TRIGLYCERIDE_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_TRIGLYCERIDE_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lTriglyceride"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_HDL_C_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_HDL_C_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lHdlc"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_LDL_C_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_LDL_C_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lLdlc"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_BUN_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_BUN_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lBun"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_CREATININE_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_CREATININE_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lCreatinine"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_URIC_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_URIC_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lUric"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_ALT_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_ALT_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lAlt"></td>
							<td></td>
						</tr>
						<tr>
							<td>{{param.LAB_CONSTANTS.LAB_AST_LABEL.infoTh}}</td>
							<td>{{param.LAB_CONSTANTS.LAB_AST_NORMAL.infoTh}}</td>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" maxlength="50"  ng-model="patient.lAst"></td>
							<td></td>
						</tr>
						<tr>
							<td>อื่น ๆ</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr ng-repeat="l in labs">
							<td>{{l.record}}</td>
							<td>{{l.nomalValue}}</td>
							<td>{{l.result}}</td>
							<td><button class="btn btn-md btn-danger" ng-if="checkPermission('ROLE_PROF')" ng-click="delMedic(patient.patientId, l.medicalId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
						</tr>
						<tr>
							<td><input type="text" class="form-control" placeholder="" name="record" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="lab.record"></td>
							<td><input type="text" class="form-control" placeholder="" name="normalValue" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="lab.nomalValue"></td>
							<td><input type="text" class="form-control" placeholder="" name="result" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="lab.result"></td>
							<td><button class="btn btn-md btn-info" ng-if="checkPermission('ROLE_PROF')" ng-click="addMedic(lab, patient._links.medical.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
						</tr>
					</table>
					<div class="col-sm-12">
						<textarea rows="4" cols="105" class="form-control" ng-disabled="!checkPermission('ROLE_PROF')" ng-model="patient.labAdvice" maxlength="300"></textarea>
					</div>
  				</div>
  			</div>
	        </md-content>
	      </md-tab>
	      <md-tab label="บันทึกความก้าวหน้า">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">การบันทึกความก้าวหน้า</h1>
				<div class="form-group">
  				<div class="col-sm-8">
  					<table class="table table-fixed-layout">
						<tr>
							<th colspan="5">แบบบันทึกความก้าวหน้า</th>
						</tr>
						<tr>
							<th>ลำดับที่</th>
							<th>วันที่</th>
							<th>คณะวิชา</th>
							<th>ความก้าวหน้า</th>
							<th></th>
						</tr>
						
						<tr ng-repeat="f in furthers">
							<td>{{$index+1}}</td>
							<td><md-datepicker ng-model="f.createdDate" ng-disabled="!checkPermission('ROLE_STUD')" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
							<td><input type="text" class="form-control" placeholder="" name="major" ng-disabled="!checkPermission('ROLE_STUD')" ng-model="f.major"></td>
							<td><input type="text" class="form-control" placeholder="" name="description" ng-disabled="!checkPermission('ROLE_STUD')" ng-model="f.description"></td>
							<td>
								<button class="btn btn-md btn-info" ng-if="checkPermission('ROLE_STUD')" ng-click="saveFurther(f, f._links.self.href)" >Save</button>
								<button class="btn btn-md btn-danger" ng-if="checkPermission('ROLE_STUD')" ng-click="delFurther(further, f.furtherId)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
							</td>
						</tr>
						<tr ng-if="checkPermission('ROLE_STUD')">
							<td></td>
							<td><md-datepicker ng-model="further.createdDate" ng-disabled="!checkPermission('ROLE_STUD')" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
							<td><input type="text" class="form-control" placeholder="" name="major" ng-disabled="!checkPermission('ROLE_STUD')" ng-model="further.major"></td>
							<td><input type="text" class="form-control" placeholder="" name="description" ng-disabled="!checkPermission('ROLE_STUD')" ng-model="further.description"></td>
							<td><button class="btn btn-md btn-info" ng-if="checkPermission('ROLE_STUD')" ng-click="addFurther(further, patient._links.furthers.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
						</tr>
					</table>
  				</div>
  			</div>
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
  	</form> 
  </div>
  <br>
<!--   <div class="row"> -->
<!--   <button class="btn btn-md btn-info" ng-click="hiddenProfile=!hiddenProfile" ><span>กรอกข้อมูลผู้ป่วย</span></button> -->
<!--   		<div ng-show="hiddenProfile"> -->
  			

<!--   		</div> -->
<!--   		<button class="btn btn-md btn-info" ng-click="hiddenNurse=!hiddenNurse" ><span>กรอกข้อมูลข้อมูลในการดูแลตยเองของผู้ป่วยและผู้ดูแล(พยาบาล)</span></button> -->
<!--   		<div ng-show="hiddenNurse"> -->

<!--   		</div> -->
<!--   		<button class="btn btn-md btn-info" ng-click="hiddenSocial=!hiddenSocial" ><span>กรอกข้อมูลด้านสังคมและเศรษฐกิจ(นักสังคมสงเคราะห์)</span></button> -->
<!--   		<div ng-show="hiddenSocial"> -->
			  
<!--   		</div> -->
<!--  		<button class="btn btn-md btn-info" ng-click="hiddenDrug=!hiddenDrug" ><span>กรอกข้อมูลการใช้ยา</span></button> -->
<!--   		<div ng-show="hiddenDrug"> -->
  		 	
<!--   		</div> -->
<!-- 		<button class="btn btn-md btn-info" ng-click="hiddenGeneral=!hiddenGeneral" ><span>กรอกข้อมูลสุขภาพเบื้องต้น</span></button> -->
<!--   		<div ng-show="hiddenGeneral"> -->
			  
<!--   		</div> -->
<!--   		<button class="btn btn-md btn-info" ng-click="hiddenLab=!hiddenLab" ><span>กรอกข้อมูลพื้นฐานประวัติผลการตรวจทางห้องปฏิบัติการ</span></button> -->
<!--   		<div ng-show="hiddenLab"> -->
  			
<!--   		</div> -->
<!--   </div> -->
</div>
