<div class="p-x m-t-lg">
  <div class="row">
  	<b><p>ข้อมูลผู้ป่วย</p></b>
  	
<!--   		<form class="form-horizontal" role="form" ng-if="checkPermission('ROLE_PROF')"> -->
<!-- 			<div class="form-group"> -->
<!-- 	  			<label class="col-sm-2 text-uppercase control-label"><span class="require">*</span>กรุณาเลือกข้อมูลการประเมินของนักศึกษา </label> -->
<!-- 			  	<select class="form-control m-b-md"  ng-model="student" -->
<!-- 									ng-options="u as u.userName for u in studentPt" -->
<!-- 									ng-change="changeStudent(student);"> -->
<!-- 				</select> -->
<!-- 	  		</div> -->
<!--   		</form> -->
  		<form class="form-horizontal" role="form">
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label"><span class="require">*</span>ข้อมูลนี้เป็นของผู้ป่วย </label>
			  	<select class="form-control m-b-md" ng-disabled="!checkPermission('ROLE_STUD_PH') && !checkPermission('ROLE_PROF')" ng-model="patient"
									ng-options="u as (u.indexName +' ('+ u.name +')') for u in patients track by u.patientId"
									ng-change="changePatient(patient);">
				</select>
	  		</div>
  		</form>
  		<hr>
  		<form class="form-horizontal" role="form" ng-show="null != patient">
			<div class="form-group">
	          		<div class="col-sm-12">
	          			<table class="table table-fixed-layout">
	          			 <thead>
	          				<tr>
	          					<th colspan="13">ความร่วมมือในการใช้ยาของผู้ป่วย</th>
	          				</tr>
	          				<tr>
	          					<th colspan="13">Patient Compliance</th>
	          				</tr>
	          				<tr>
	          					<th colspan="2">รายการยาและขนาดยา (a)</th>
	          					<th colspan="1">ท่านรับประทานยานี้ครั้งละกี่เม็ด(b)</th>
	          					<th colspan="2">ท่านรับประทานยานี้ วันละกี่ครั้ง (c)</th>
	          					<th colspan="1">ท่านรับประทานยานี้ สัปดาห์ละกี่วัน (d)</th>
	          					<th colspan="2">ท่านขาดยานี้กี่ครั้ง/ ไม่ได้รับประทานยานี้กี่ครั้ง (e)</th>
	          					<th colspan="1">ท่านรู้หรือไม่ว่ายานี้ใช้รักษาโรคอะไร (f)</th>
	          					<th colspan="1">ท่านรับประทานยานี้แล้วได้ผลดีหรือไม่ มาก-น้อยเพียงใด (g)</th>
	          					<th colspan="2">ท่านมีปัญหาจาการใช้ยานี้หรือไม่ ปัญหารบกวนมากน้อยเพียงใด (h)</th>
	          					<th></th>
	          				</tr>
	          				<tr>
	          					<th>ลำดับที่</th>
	          					<th>ชื่อยา/ความแรง (มิลลิกรัม)</th>
	          					<th></th>
	          					<th>ครั้ง/วัน</th>
	          					<th>เวลาที่ รับประทาน</th>
	          					<th></th>
	          					<th>ครั้ง </th>
	          					<th>เหตุผล</th>
	          					<th> </th>
	          					<th> </th>
	          					<th>รายละเอีดปัญหา</th>
	          					<th>ความรุนแรง</th>
	          					<th></th>
	          				</tr>
	          			</thead>
	          			<tbody>
	          				<tr ng-repeat="c in compliances">
	          					<td>{{$index+1}}</td>
	          					<td>{{c.drug}}</td>
	          					<td>{{c.takeQty}}</td>
	          					<td>{{c.takePerDay}}</td>
	          					<td>{{c.takeTime}}</td>
	          					<td>{{c.takePerWeek}}</td>
	          					<td>{{c.missTime}}</td>
	          					<td>{{c.missReason}}</td>
	          					<td>{{c.knowsDrug}}</td>
	          					<td>{{c.resultDrug}}</td>
	          					<td>{{c.problemDesc}}</td>
	          					<td>{{c.problemIntens}}</td>
	          					<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')" ng-click="delCompliance(ph.phId, c.complianceId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</tbody>
	          			<tfoot>
	          				<tr ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')">
	          					<td></td>
	          					<td><input type="text" class="form-control" placeholder="" name="drug" ng-model="compliance.drug"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="takeQty" ng-model="compliance.takeQty"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="takePerDay" ng-model="compliance.takePerDay"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="takeTime" ng-model="compliance.takeTime"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="takePerWeek" ng-model="compliance.takePerWeek"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="missTime" ng-model="compliance.missTime"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="missReason" ng-model="compliance.missReason"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="knowsDrug" ng-model="compliance.knowsDrug"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="resultDrug" ng-model="compliance.resultDrug"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="problemDesc" ng-model="compliance.problemDesc"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="problemIntens" ng-model="compliance.problemIntens"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addCompliance(compliance,_links.compliances.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</tfoot>
	          			</table>
		          	</div>
	        </div>
			<div class="form-group">
			  	<div class="col-sm-12">
		            	<table class="table table-fixed-layout">
		            		<thead>
		            			<tr>
		            				<td colspan="8">ปัญหาการใช้ยา (DRPs)</td>
		            			</tr>
		            			<tr>
		            				<td colspan="8">Drug-Related Problems (DRPs) Report Form</td>
		            			</tr>
								<tr>
									<th>Date</th>
									<th>DRPs</th>
									<th>Patient Name/HN</th>
									<th>Details</th>
									<th>Intervention</th>
									<th>Physician Response</th>
									<th>F/U</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in drps">
									<td>{{d.date | date:"dd/MM/yyyy"}}</td>
									<td>{{d.drps}}</td>
									<td>{{d.patientName}}</td>
									<td>{{d.detail}}</td>
									<td>{{d.intervention}}</td>
									<td>{{d.physicalResponse}}</td>
									<td>{{d.fu}}</td>
									<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')" ng-click="delDrp(ph.phId, d.drpId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><md-datepicker style="white-space: normal;" ng-model="drp.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
									<td>
<!-- 										<input type="text" class="form-control" placeholder="" name="drps" ng-model="drp.drps"> -->
										<select class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')" ng-model="drp.drps"
											ng-options="r.infoTh as r.infoTh for r in combo.DRP">
						          		</select>
									</td>
									<td><input type="text" class="form-control" placeholder="" name="patientName" ng-model="drp.patientName"></td>
									<td><input type="text" class="form-control" placeholder="" name="detail" ng-model="drp.detail"></td>
									<td><input type="text" class="form-control" placeholder="" name="intervention" ng-model="drp.intervention"></td>
									<td>
										<div class="form-group">
										<label class="radio-inline">
									    	<input type="radio" name="item1" ng-model="drp.physicalResponse" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')" ng-value="'Y'">
									    	Yes
									  	</label>
					          		  	<label class="radio-inline">
									    	<input type="radio" name="item1" ng-model="drp.physicalResponse" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')" ng-value="'N'">
									    	No
									  	</label>
									  	</div>
									</td>
									<td><input type="text" class="form-control" placeholder="" name="fu" ng-model="drp.fu"></td>
									<td><button class="btn btn-md btn-info" ng-click="addDrp(drp,_links.drpReports.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
								</tr>
							</tfoot>
						</table>
				</div>
			</div>
			<div class="form-group">
			  	<div class="col-sm-12">
		            	<table class="table table-fixed-layout">
		            		<thead>
		            			<tr>
		            				<td colspan="5">แบบทวนรายการยา</td>
		            			</tr>
		            			<tr>
		            				<td colspan="5">Medication Reconciliation</td>
		            			</tr>
								<tr>
									<th>รายการยา</th>
									<th>มิลลิกรัม(mg)</th>
									<th>วันที่</th>
									<th>หมายเหตุ</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="r in reconcils">
									<td>{{r.drug}}</td>
									<td>{{r.volume}}</td>
									<td>{{r.date | date:"dd/MM/yyyy"}}</td>
									<td>{{r.note}}</td>
									<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PH')" ng-click="delReconcil(ph.phId, r.medId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><input type="text" class="form-control" placeholder="" name="drug" ng-model="reconcil.drug"></td>
									<td><input type="text" class="form-control" placeholder="" name="volume" ng-model="reconcil.volume"></td>
									<td><md-datepicker style="white-space: normal;" ng-model="reconcil.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
									<td><input type="text" class="form-control" placeholder="" name="note" ng-model="reconcil.note"></td>
									<td><button class="btn btn-md btn-info" ng-click="addReconcil(reconcil,_links.reconcils.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
								</tr>
							</tfoot>
						</table>
				</div>
			</div>
  		</form>
  </div>
</div>
