<div class="p-x m-t-lg">
  <div class="row">
  
  </div>
  <br>
  <div class="row">
  	<button class="btn btn-md btn-danger m-t-lg m-b-lg full-w" ng-click="prevMenu()" ><i class="glyphicon glyphicon-backward"></i> กลับไปเมนูก่อนหน้า</button>
  	<b><p>ข้อมูลด้านกายภาพบำบัดของ {{patient.name}}</p></b>
	<div ng-if="ptGridOption.totalItems > 0" ui-grid="ptGridOption" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-fit-columns>
  </div>
  
  <div class="row m-t-lg" ng-if="null != pt">
 	<div class="col-xs-12 col-sm-12">
 		<div data-ng-include="'views/app/patient/view/pt_view.html'"></div>
 	</div>
  </div>
  
</div>