<div class="p-x m-t-lg">
  <div class="row">
  	<button class="btn btn-md btn-primary m-b-md" ng-click="patchPatientPt(pt, _links.self.href)" ng-if="checkPermission('ROLE_PROF') || checkPermission('ROLE_STUD_PT')" ><span>save</span></button>
  	<b><p>ข้อมูลผู้ป่วย</p></b>
  	
<!--   		<form class="form-horizontal" role="form" ng-if="checkPermission('ROLE_PROF')"> -->
<!-- 			<div class="form-group"> -->
<!-- 	  			<label class="col-sm-2 text-uppercase control-label"><span class="require">*</span>กรุณาเลือกข้อมูลการประเมินของนักศึกษา </label> -->
<!-- 			  	<select class="form-control m-b-md"  ng-model="student" -->
<!-- 									ng-options="u as u.userName for u in studentPt" -->
<!-- 									ng-change="changeStudent(student);"> -->
<!-- 				</select> -->
<!-- 	  		</div> -->
<!--   		</form> -->
  		<form class="form-horizontal" role="form">
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label"><span class="require">*</span>ข้อมูลนี้เป็นของผู้ป่วย </label>
			  	<select class="form-control m-b-md" ng-disabled="!checkPermission('ROLE_STUD_PT') && !checkPermission('ROLE_PROF')" ng-model="patient"
									ng-options="u as (u.indexName +' ('+ u.name +')') for u in patients track by u.patientId"
									ng-change="changePatient(patient);">
				</select>
	  		</div>
  		</form>
  		
  		<form class="form-horizontal" role="form" ng-show="null != patient">
		          <div class="form-group">
		            <label class="col-sm-2 text-uppercase control-label">ชื่อ สกุล ผู้รับบริการ <span class="require">*</span></label>
		            <div class="col-sm-8">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="name" ng-model="patient.name" maxlength="50" required>
		            </div>
		          </div>
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">อายุ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="age" ng-model="patient.age" maxlength="2">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">เบอร์โทรศัพท์</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="mobile" ng-model="patient.mobile" maxlength="10">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">บ้านเลขที่</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="houseNo" ng-model="patient.houseNo">
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">หมู่</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="groupNo" ng-model="patient.groupNo" >
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ตำบล</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="district" ng-model="patient.district" >
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">อำเภอ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="prefecture" ng-model="patient.prefecture" >
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">จังหวัด</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="province" ng-model="patient.province" >
		          	</div>
		          </div>  
		          <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">วินิจฉัยโรค</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="diagnose" ng-model="patient.diagnose" >
		          	</div>
		          </div>  
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ระยะเวลาที่ป่วย/เริ่มป่วยเมื่อ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="period" ng-model="patient.period" >
		          	</div>
		          </div>  
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ชื่อผู้ดูแลหลัก</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="curator" ng-model="patient.curator" >
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ความสัมพันธ์กับผู้ป่วย</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="curatorRelation" ng-model="patient.curatorRelation" >
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">ชื่อ อ.ส.ม ที่รับผิดชอบ</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="supervisor" ng-model="patient.supervisor" maxlength="50">
		          	</div>
		          </div> 
				  <div class="form-group">
		          	<label class="col-sm-2 text-uppercase control-label">เบอร์โทรศัพท์</label>
		          	<div class="col-sm-8">
		          		<input type="text" ng-disabled="true" class="form-control" placeholder="" name="supervisorMobile" ng-model="patient.supervisorMobile" maxlength="10">
		          	</div>
		          </div> 
  		</form>
  		
  		<hr>
  		<form class="form-horizontal" role="form" ng-show="null != patient">
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">แพทย์ผู้ตรวจ </label>
			  	<div class="col-sm-8">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="100" name="examiner" ng-model="pt.examiner">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">การวินิจฉัยโรค </label>
			  	<div class="col-sm-8">
			  			<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="500" ng-model="pt.diagnosis"></textarea>
			  			<p class="text-grey">เหลืออีก {{500-pt.diagnosis.length}} ตัวอักษร</p>
<!-- 		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" name="diagnosis" ng-model="pt.diagnosis"> -->
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ข้อห้าม / ข้อควรระมัดระวัง </label>
			  	<div class="col-sm-8">
			  			<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="500" ng-model="pt.caution"></textarea>
			  			<p class="text-grey">เหลืออีก {{500-pt.caution.length}} ตัวอักษร</p>
<!-- 		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" name="caution" ng-model="pt.caution"> -->
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">แรกรับการรักษาทางกายภาพบำบัด วันที่ </label>
			  	<div class="col-sm-8">
			  			<md-datepicker style="white-space: normal;" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-model="pt.checkin" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">อาการสำคัญ (Chief complaint; C/C) / อาการหลัก (Principle Symptom; PS) </label>
			  	<div class="col-sm-8">
			  			<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="500" ng-model="pt.symtons"></textarea>
			  			<p class="text-grey">เหลืออีก {{500-pt.symtons.length}} ตัวอักษร</p>
<!-- 		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" name="symtons" ng-model="pt.symtons"> -->
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">Upload image </label>
			  	<div class="col-sm-8">
        		  	<img alt="" ng-src="/ipe/service/pt/viewImage/{{pt.image}}" style="    width: 100%;">
<!--         		  	<div class="fileUpload btn btn-danger full-w"> -->
<!-- 					    <span><i class="fa fa-camera" aria-hidden="true"></i> เลือกรูป / ถ่ายภาพ</span> -->
					    <input class="upload" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" type="file" accept="image/*" file-model="myFile" id="file" name="file"/>
<!-- 					</div> -->
<!-- 					<button ng-if="checkPermission('ROLE_PATIEN')" ng-click = "uploadFile()">upload me</button> -->
					<md-button class="md-raised full-w" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-click= "uploadFile()"><i class="glyphicon glyphicon-open"></i>UPLOAD</md-button>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">Agg </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="agg" ng-model="pt.agg">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">AM </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="am" ng-model="pt.am">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Eases </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="eases" ng-model="pt.eases">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Day </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="day" ng-model="pt.day">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Irritability </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="irritability" ng-model="pt.irritability">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">PM </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="pm" ng-model="pt.pm">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label"> </label>
			  	<div class="col-sm-4">
		            	
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Night </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" maxlength="50" name="night" ng-model="pt.night">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติการเจ็บป่วยปัจจุบัน (History of Present Illness; HPI) </label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="300" ng-model="pt.histPresSickness"></textarea>
		            	<p class="text-grey">เหลืออีก {{300-pt.histPresSickness.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติการเจ็บป่วยอดีต (Past History; PH)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="300" ng-model="pt.histPassSickness"></textarea>
		            	<p class="text-grey">เหลืออีก {{300-pt.histPassSickness.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติสังคม-ส่วนตัว (Social-Personal History; SH)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="300" ng-model="pt.histSocial"></textarea>
		            	<p class="text-grey">เหลืออีก {{300-pt.histSocial.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติการเจ็บป่วยของครอบครัว (Family History; FH)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="300" ng-model="pt.histFamily"></textarea>
		            	<p class="text-grey">เหลืออีก {{300-pt.histFamily.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
				<label class="col-sm-2 text-uppercase control-label">Systems Review : General Health</label>
			  	<div class="col-sm-8">
		            	<table class="table table-fixed-layout">
						<tr>
							<th>Items</th>
							<th>Yes/No</th>
							<th>Comments</th>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM1.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item1" ng-model="pt.item1" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item1" ng-model="pt.item1" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment1" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment1"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM2.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item2" ng-model="pt.item2" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item2" ng-model="pt.item2" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment2" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment2"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM3.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item3" ng-model="pt.item3" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item3" ng-model="pt.item3" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment3" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment3"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM4.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item4" ng-model="pt.item4" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item4" ng-model="pt.item4" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment4" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment4"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM5.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item5" ng-model="pt.item5" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item5" ng-model="pt.item5" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment5" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment5"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM6.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item6" ng-model="pt.item6" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item6" ng-model="pt.item6" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment6" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment6"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM7.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item7" ng-model="pt.item7" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item7" ng-model="pt.item7" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment7" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment7"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM8.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item8" ng-model="pt.item8" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item8" ng-model="pt.item8" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment8" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment8"></td>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM9.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item9" ng-model="pt.item9" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item9" ng-model="pt.item9" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment9" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment9"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM10.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item10" ng-model="pt.item10" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item10" ng-model="pt.item10" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment10" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment10"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM11.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item11" ng-model="pt.item11" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item11" ng-model="pt.item11" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment11" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment11"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM12.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item12" ng-model="pt.item12" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item12" ng-model="pt.item12" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment12" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment12"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM13.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item13" ng-model="pt.item13" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item13" ng-model="pt.item13" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment13" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment13"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM14.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item14" ng-model="pt.item14" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item14" ng-model="pt.item14" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment14" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment14"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM15.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item15" ng-model="pt.item15" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item15" ng-model="pt.item15" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment15" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment15"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM16.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item16" ng-model="pt.item16" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item16" ng-model="pt.item16" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment16" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment16"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM17.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item17" ng-model="pt.item17" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item17" ng-model="pt.item17" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment17" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" maxlength="70" ng-model="pt.comment17"></td>
						</tr>
					</table>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">สมมติฐานการวินิจฉัยโรค</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="500" ng-model="pt.assumpDianosis"></textarea>
		            	<p class="text-grey">เหลืออีก {{500-pt.assumpDianosis.length}} ตัวอักษร</p>
	            </div>
	  		</div>
	  		<hr>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>การตรวจร่างกาย (Physical Examination)</b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>การตรวจร่างกาย</th>
	          					<th>แปลผล</th>
	          					<th>วันที่ตรวจ</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="ex in examinations">
	          					<td>{{ex.action}}</td>
	          					<td>{{ex.result}}</td>
	          					<td>{{ex.examDate| date:"dd/MM/yyyy"}}</td>
	          					<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-click="delExaminat(pt.ptId, ex.examinationId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
	          				</tr>
	          				<tr ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')">
	          					<td><input type="text" class="form-control" placeholder="" name="action" maxlength="200" ng-model="examinat.action"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="result" maxlength="200" ng-model="examinat.result"></td>
	          					<td><md-datepicker style="white-space: normal;" ng-model="examinat.examDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addExaminat(examinat,_links.examinations.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	        </div> 
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">การวินิจฉัยทางกายภาพบำบัด </label>
			  	<div class="col-sm-8">
			  			<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="500" ng-model="pt.physicalDiagnosis"></textarea>
			  			<p class="text-grey">เหลืออีก {{500-pt.physicalDiagnosis.length}} ตัวอักษร</p>
<!-- 		            	<input type="text" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" class="form-control" placeholder="" name="physicalDiagnosis" ng-model="pt.physicalDiagnosis"> -->
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ผลการตรวจร่างกายที่ยืนยันการวินิจฉัย </label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="500" ng-model="pt.confirmDiagnosis"></textarea>
		            	<p class="text-grey">เหลืออีก {{500-pt.confirmDiagnosis.length}} ตัวอักษร</p>
	            </div>
	  		</div>
	  		<hr>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>สรุปปัญหาและวิเคราะห์ปัญหา </b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>Functional Limitation </th>
	          					<th>Impairment</th>
	          					<th>Pathology</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="con in concludeAnalysis">
	          					<td>{{con.functional}}</td>
	          					<td>{{con.impairment}}</td>
	          					<td>{{con.pathology}}</td>
	          					<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-click="delConclude(pt.ptId, con.caId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
	          				</tr>
	          				<tr ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')">
	          					<td><input type="text" class="form-control" placeholder="" name="functional" maxlength="200" ng-model="conclude.functional"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="impairment" maxlength="200" ng-model="conclude.impairment"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="pathology" maxlength="200" ng-model="conclude.pathology"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addConclude(conclude,_links.concludeAnalysis.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	        </div>
	        <hr>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">วัตถุประสงค์ระยะสั้น (Short term Goals)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="300" ng-model="pt.shortTermGoal"></textarea>
		            	<p class="text-grey">เหลืออีก {{300-pt.shortTermGoal.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">วัตถุประสงค์ระยะยาว (Long term Goals)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="300" ng-model="pt.longTermGoal"></textarea>
		            	<p class="text-grey">เหลืออีก {{300-pt.longTermGoal.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">การพยากรณ์โรค</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" rows="3" cols="105" maxlength="200" ng-model="pt.prediction"></textarea>
		            	<p class="text-grey">เหลืออีก {{200-pt.prediction.length}} ตัวอักษร</p>
	            </div>
	  		</div>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>เป้าหมาย การวางแผนการรักษา การรักษา และการประเมินผล   </b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>Goal</th>
	          					<th>Due Date </th>
	          					<th>Treatment Plan</th>
	          					<th>Treatment</th>
	          					<th>Evaluation</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="g in goals">
	          					<td>{{g.goal}}</td>
	          					<td>{{g.dueDate | date:"dd/MM/yyyy"}}</td>
	          					<td>{{g.plan}}</td>
	          					<td>{{g.treatment}}</td>
	          					<td>{{g.evaluation}}</td>
	          					<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-click="delGoal(pt.ptId, g.goalId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
	          				</tr>
	          				<tr ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')">
	          					<td><input type="text" class="form-control" placeholder="" name="goal" maxlength="200" ng-model="goal.goal"></td>
	          					<td><md-datepicker style="white-space: normal;" ng-model="goal.dueDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
	          					<td><input type="text" class="form-control" placeholder="" name="plan" maxlength="200" ng-model="goal.plan"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="treatment" maxlength="200" ng-model="goal.treatment"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="evaluation" maxlength="200" ng-model="goal.evaluation"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addGoal(goal,_links.goals.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	        </div>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>Physical Therapy Progression Note (SOAP/SOAPIE) (บันทึกความก้าวหน้าในการักษาผู้ป่วย ในรูปแบบ SOAP หรือ SOAPIE) </b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>Date </th>
	          					<th>Progress Note </th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="n in notes">
	          					<td>{{n.date | date:"dd/MM/yyyy"}}</td>
	          					<td>{{n.note}}</td>
	          					<td><button class="btn btn-md btn-danger" ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')" ng-click="delNote(pt.ptId, n.progressId)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
	          				</tr>
	          				<tr ng-disabled="!checkPermission('ROLE_PROF') && !checkPermission('ROLE_STUD_PT')">
	          					<td><md-datepicker style="white-space: normal;" ng-model="note.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker></td>
	          					<td><input type="text" class="form-control" placeholder="" name="note" maxlength="200" ng-model="note.note"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addNote(note,_links.notes.href)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	        </div>
  		</form>
  </div>
</div>
