<div class="p-x m-t-lg">
  <div class="row">
  
  </div>
  <br>
  <div class="row">
  	<button class="btn btn-md btn-danger m-t-lg m-b-lg full-w" ng-click="prevMenu()" ><i class="glyphicon glyphicon-backward"></i> กลับไปเมนูก่อนหน้า</button>
  	<b><p>ข้อมูลประจำวันผู้ป่วย</p></b>
	<div ng-if="patientGridOptions.totalItems > 0" ui-grid="patientGridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-fit-columns>
  </div>
  
 <div class="row m-t-lg" ng-if="null != txn">
 	<div class="col-xs-12 col-sm-12">
  	<md-content class="md-padding full-h">
  		<b><p>ข้อมูลติดตาม 1</p></b>
	  	<div data-ng-include="'views/app/landing/questionnair/W_01.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/W_02.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/W_03.html'"></div>
		<b><p>ข้อมูลติดตาม 2</p></b>
		<div data-ng-include="'views/app/landing/questionnair/P_01.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/P_02.html'"></div>
		<b><p>ข้อมูลติดตาม 3</p></b>
		<div data-ng-include="'views/app/landing/questionnair/U_01.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/U_02.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/U_03.html'"></div>
		<b><p>ข้อมูลติดตาม 4</p></b>
		<div data-ng-include="'views/app/landing/questionnair/S_01.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/S_02.html'"></div>
		<b><p>ข้อมูลติดตาม 5</p></b>
		<div data-ng-include="'views/app/landing/questionnair/E_01.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/E_02.html'"></div>
		<b><p>ข้อมูลห้องปฏิบัติการ</p></b>
		<div data-ng-include="'views/app/landing/questionnair/LAB.html'"></div>
		<b><p>ข้อมูลประจำวัน</p></b>
		<div data-ng-include="'views/app/landing/questionnair/table/DA_TABLE_VIEW.html'"></div>
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_01.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_02.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_03.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_04.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_05.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_06.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_07.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_08.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_09.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/DA_10.html'"></div> -->
		<b><p>ข้อมูลเข่า</p></b>
		<div data-ng-include="'views/app/landing/questionnair/SO_01.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_02.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_03.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_04.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_05.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_06.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_07.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_08.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_09.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_10.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_11.html'"></div>
		<div data-ng-include="'views/app/landing/questionnair/SO_12.html'"></div>
		
		<div data-ng-include="'views/app/landing/questionnair/table/PL_SN_KO_TABLE_VIEW.html'"></div>
  	</md-content>
  	</div>
 </div>
<!--   <div class="row m-t-lg" ng-if="null != txn"> -->
<!--   	<div class="col-xs-12 col-sm-12"> -->
<!--   	<md-content class="md-padding full-h"> -->
<!-- 		<b><p>ข้อมูลปวดข้อ</p></b> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/PL_01.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/PL_02.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/PL_03.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/PL_04.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/PL_05.html'"></div> -->
<!-- 		<b><p>ข้อมูลข้อฝืด</p></b> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/SN_01.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/SN_02.html'"></div> -->
		
<!-- 		<b><p>ข้อมูลใช้งานข้อ</p></b> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_01.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_02.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_03.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_04.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_05.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_06.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_07.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_08.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_09.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_10.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_11.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_12.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_13.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_14.html'"></div> -->
<!-- 		<div data-ng-include="'views/app/landing/questionnair/KO_15.html'"></div> -->
<!--   	</md-content> -->
<!--   	</div> -->
<!--   </div> -->
  
  <div class="row m-t-lg" ng-if="(null != txn) && checkPermission('ROLE_STUD')">
 	<div class="col-xs-12 col-sm-12">
	  	<md-content class="md-padding full-h">
	  			<label class="col-sm-2 left text-uppercase control-label">การประเมินผู้ป่วย</label>
				<div class="col-sm-8">
	          		<textarea class="form-control" ng-disabled="!checkPermission('ROLE_STUD')" rows="3" cols="105" ng-model="estimate.desctiption"></textarea>
	          	</div>
	          	<md-button class="md-primary md-raised" ng-click="saveEstimate(estimate)" ng-if="checkPermission('ROLE_STUD')">Save</md-button>
	  	</md-content>
  	</div>
  </div>
  <div class="row m-t-lg" ng-if="(null != txn) && checkPermission('ROLE_PROF')">
 	<div class="col-xs-12 col-sm-12">
 		<table class="table table-fixed-layout">
			<tr>
				<th>ผู้ใช้</th>
				<th>ข้อความ</th>
			</tr>
			<tr ng-repeat="e in estimateList">
				<td>{{e.userId}}</td>
				<td>{{e.desctiption}}</td>
			</tr>
		</table>
  	</div>
  </div>
</div>
