<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add (user)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
	       <form class="form-horizontal" role="form" name="userForm" >
	  		<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">username <span class="require">*</span></label>
	  			<div class="col-sm-10">
	  				<input type="text" class="form-control"  name="userName" ng-model="user.userName" required="required"></input>
	  			</div>
	  		</div>
	  		<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">password<span class="require">*</span></label>
	  			<div class="col-sm-10">
	  				<input type="text" class="form-control" name="password" ng-model="user.password" required="required"></input>
	  			</div>
	  		</div>
	  		<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">name <span class="require">*</span></label>
	  			<div class="col-sm-10" >
	  				<input type="text" class="form-control" name="name" ng-model="user.name" required="required"></input>
	  			</div>
	  		</div>  	
	  		<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">division <span class="require">*</span></label>
	  			<div class="col-sm-10" >
	  				<input type="text" class="form-control" name="division" ng-model="user.division" required="required"></input>
	  			</div>
	  		</div>  	  		   	
	        <div class="form-group">
	        	<label class="col-sm-2 text-uppercase control-label">role<span class="require">*</span></label>
	        	<div class="col-sm-10" >
					<table class="table table-bordered table-fixed-layout ">
          				<tr>
          					<th>item</th>
          					<th></th>
          				</tr>
          				<tr ng-repeat="r in user.role">
          					<td>{{r}}</td>
          					<td><button class="btn btn-md btn-danger" ng-click="deRole($index)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          				</tr>
          				<tr >
          					<td><select class="form-control" name="xRole" 
										ng-model="xRole"
										ng-options="r as r for r in combo">
									<option value="">==Select==</option>
								</select>     
							</td>
          					<td><button class="btn btn-md btn-info" ng-click="addRole(xRole)" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
          				</tr>
          			</table>    		
	        	</div>
	        	
	        </div>   				
	  		</form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-disabled="userForm.$invalid" ng-click="add(user)">
        {{mode == 'add' ? 'Add':'Save'}}
      </md-button>
    </md-dialog-actions>
</md-dialog>
