<!-- preloader -->
<preloader class="preloader-container ng-hide">
  <div class="preloader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</preloader>
<!-- /preloader -->



<div class="heading">
	<ul class="nav navbar-nav">
		<li >
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.user" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-bars" aria-hidden="true"></i>
				<span >MENU</span> 
			</a>	
		</li>	
		<li class="uib-dropdown dropdown open" uib-dropdown>
			<a style="color:#000;" href="javascript:;" class="dropdown-toggle ripple" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"> 
				<span >{{functions.MONEY_CONTROL_FORM.value1}}</span> 
				<span class="caret"></span>
			</a>			
			<ul class="dropdown-menu dropdown-menu">
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.N_BUDGET.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.LOAN_FUND.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.SUBSIDY.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.INSURANCE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.INSURANCE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.FOREIGN_TEACHER.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.EXPENSE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.EDUCATION_SUPPORT.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.TAX.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.REVENUE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.CONTRACT_COLLATERAL.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.SCHOLARSHIP.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>{{moneyControlForms.HEALTH_CHECK.value1}}</span>
			     	</a>	
				</li>
			</ul>	
		</li>
		<li >
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.user" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-bars" aria-hidden="true"></i>
				<span >{{functions.MANAGE_USER.value1}}</span> 
			</a>	
		</li>	
	</ul>
	<ul class="nav navbar-nav navbar-right" >
		<li class="uib-dropdown dropdown open" uib-dropdown>
			<a style="color:#000;" href="javascript:;" class="dropdown-toggle ripple" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"><img data-ng-src="images/avatar.png" class="header-avatar img-circle" alt="user" title="user" src="images/avatar.jpg"> 
				<span >{{currentUser}}</span> 
				<span class="caret"></span>
			</a>			
			<ul class="dropdown-menu dropdown-menu" uib-dropdown-menu="" ng-if="!isAuthenticated()">
				<li>
					<a style="color:#000;" ui-sref="user.signin">
				        <span>เข้าสู่ระบบ</span>
			     	</a>	
				</li>
			</ul>	
			<ul class="dropdown-menu dropdown-menu" uib-dropdown-menu="" ng-if="isAuthenticated()">
				<li>
					<a style="color:#000;" ui-sref="user.signin" href="#/signin">ออกจากระบบ</a>
				</li>
			</ul>			
		</li>
	</ul>

</div>



<!-- <ul class="nav navbar-nav hidden-xs"> -->
<!--   <li> -->
<!--   </li> -->
<!--   <li class="searchbox"> -->
<!--     <a href="javascript:;" ng-click="toggle.searchBox = !toggle.searchBox"> -->
<!--       <i class="icon-close" ng-if="toggle.searchBox"></i> -->
<!--       <i class="icon-magnifier" ng-if="!toggle.searchBox"></i> -->
<!--     </a> -->
<!--   </li> -->
<!--   <li class="navbar-form search-form" ng-if="toggle.searchBox"> -->
<!--     <input type="search" class="form-control search-input" placeholder="Start typing..." ng-model="searchTerm" ng-focus="focusOn()" ng-blur="focusOff()" autofocus> -->
<!--     <div class="search-predict" ng-if="searchTerm && searchFocus"> -->
<!--       <a href="#">Searching for '{{searchTerm}}'</a> -->
<!--       <div class="heading"> -->
<!--         <span class="title">People</span> -->
<!--       </div> -->
<!--       <ul class="predictive-list"> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face1.jpg" class="img-circle" alt=""> -->
<!--             <span>Tammy Carpenter</span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face2.jpg" class="img-circle" alt=""> -->
<!--             <span>Catherine Moreno</span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face3.jpg" class="img-circle" alt=""> -->
<!--             <span>Diana Robertson</span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face4.jpg" class="img-circle" alt=""> -->
<!--             <span>Emma Sullivan</span> -->
<!--           </a> -->
<!--         </li> -->
<!--       </ul> -->
<!--       <div class="heading"> -->
<!--         <span class="title">Page posts</span> -->
<!--       </div> -->
<!--       <ul class="predictive-list"> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img data-ng-src="images/unsplash/img2.jpeg" class="img-rounded" alt=""> -->
<!--             <span>The latest news for cloud-based developers </span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img data-ng-src="images/unsplash/img2.jpeg" class="img-rounded" alt=""> -->
<!--             <span>Trending Goods of the Week</span> -->
<!--           </a> -->
<!--         </li> -->
<!--       </ul> -->
<!--     </div> -->
<!--   </li> -->
<!-- </ul> -->


