<!-- preloader -->
<preloader class="preloader-container ng-hide">
  <div class="preloader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</preloader>
<!-- /preloader -->



<div class="heading">
	<ul class="nav navbar-nav">
		<li >
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.landing" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-rss" aria-hidden="true"></i>
				<span >หน้าหลัก</span> 
			</a>	
		</li>
		<li >
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.cashbook" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-money" aria-hidden="true"></i>
				<span >{{functions.CASH_BOOK.value1}}</span> 
			</a>	
		</li>	
		<li class="uib-dropdown dropdown open" uib-dropdown>
			<a style="color:#000;" href="javascript:;" class="dropdown-toggle ripple" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"> 
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
				<span >{{functions.BALANCE_REPORT.value1}}</span> 
				<span class="caret"></span>
			</a>	
			<ul class="dropdown-menu dropdown-menu">
				<li>
					<a style="color:#000;" ui-sref="app.balance.list">
				        <span>{{balanceReport.LIST.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.balance.make">
				        <span>{{balanceReport.MAKE.value1}}</span>
			     	</a>	
				</li>
			</ul>
		</li>	
		<li >
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.income" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				<span >{{functions.SCHOOL_INCOME.value1}}</span> 
			</a>	
		</li>	
		<li >
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.import" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-exchange" aria-hidden="true"></i>
				<span >{{functions.IMPORT_DATA.value1}}</span> 
			</a>	
		</li>	
		<li class="uib-dropdown dropdown open" uib-dropdown>
			<a style="color:#000;" href="javascript:;" class="dropdown-toggle ripple" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true"> 
				<i class="fa fa-files-o" aria-hidden="true"></i>
				<span >{{functions.MONEY_CONTROL_FORM.value1}}</span> 
				<span class="caret"></span>
			</a>			
			<ul class="dropdown-menu dropdown-menu" uib-dropdown-menu>
				<li>
					<a style="color:#000;" ui-sref="app.form.nbudget">
				        <span>{{moneyControlForms.N_BUDGET.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.loanfund">
				        <span>{{moneyControlForms.LOAN_FUND.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.subsidy">
				        <span>{{moneyControlForms.SUBSIDY.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.insurance">
				        <span>{{moneyControlForms.INSURANCE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.fteacher">
				        <span>{{moneyControlForms.FOREIGN_TEACHER.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.expense">
				        <span>{{moneyControlForms.EXPENSE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.education">
				        <span>{{moneyControlForms.EDUCATION_SUPPORT.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.tax">
				        <span>{{moneyControlForms.TAX.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.revenue">
				        <span>{{moneyControlForms.REVENUE.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.contact">
				        <span>{{moneyControlForms.CONTRACT_COLLATERAL.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.scholarship">
				        <span>{{moneyControlForms.SCHOLARSHIP.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.form.healthcheck">
				        <span>{{moneyControlForms.HEALTH_CHECK.value1}}</span>
			     	</a>	
				</li>
			</ul>	
		</li>
		<li class="uib-dropdown dropdown open" uib-dropdown>
			<a style="color:#000;" href="javascript:;" class="dropdown-toggle ripple" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"> 
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
				<span >{{functions.MOBILIZE.value1}}</span> 
				<span class="caret"></span>
			</a>	
			<ul class="dropdown-menu dropdown-menu">
				<li>
					<a style="color:#000;" ui-sref="app.mobilize.list">
				        <span>{{mobilize.LIST.value1}}</span>
			     	</a>	
				</li>
				<li>
					<a style="color:#000;" ui-sref="app.mobilize.draft">
				        <span>{{mobilize.DRAFT.value1}}</span>
			     	</a>	
				</li>
			</ul>
		</li>	
		<li ng-if="checkPermission('ROLE_SUPER_ADMIN')">
			<a style="color:#000;" href="javascript:;" ui-sref-active="active" ui-sref="app.user" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-user-secret" aria-hidden="true"></i>
				<span >{{functions.MANAGE_USER.value1}}</span> 
			</a>	
		</li>	
	</ul>
	<ul class="nav navbar-nav navbar-right" >
		<li class="uib-dropdown dropdown open" uib-dropdown>
			<a style="color:#000;" href="javascript:;" class="dropdown-toggle ripple" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"><img data-ng-src="images/avatar.png" class="header-avatar img-circle" alt="user" title="user" src="images/avatar.jpg"> 
				<span >{{userData.name}}</span> 
				<span class="caret"></span>
			</a>			

			<ul class="dropdown-menu dropdown-menu" uib-dropdown-menu="" >
				<li>
					<a style="color:#000;" ng-click="logout()">ออกจากระบบ</a>
				</li>
			</ul>			
		</li>
	</ul>

</div>



<!-- <ul class="nav navbar-nav hidden-xs"> -->
<!--   <li> -->
<!--   </li> -->
<!--   <li class="searchbox"> -->
<!--     <a href="javascript:;" ng-click="toggle.searchBox = !toggle.searchBox"> -->
<!--       <i class="icon-close" ng-if="toggle.searchBox"></i> -->
<!--       <i class="icon-magnifier" ng-if="!toggle.searchBox"></i> -->
<!--     </a> -->
<!--   </li> -->
<!--   <li class="navbar-form search-form" ng-if="toggle.searchBox"> -->
<!--     <input type="search" class="form-control search-input" placeholder="Start typing..." ng-model="searchTerm" ng-focus="focusOn()" ng-blur="focusOff()" autofocus> -->
<!--     <div class="search-predict" ng-if="searchTerm && searchFocus"> -->
<!--       <a href="#">Searching for '{{searchTerm}}'</a> -->
<!--       <div class="heading"> -->
<!--         <span class="title">People</span> -->
<!--       </div> -->
<!--       <ul class="predictive-list"> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face1.jpg" class="img-circle" alt=""> -->
<!--             <span>Tammy Carpenter</span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face2.jpg" class="img-circle" alt=""> -->
<!--             <span>Catherine Moreno</span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face3.jpg" class="img-circle" alt=""> -->
<!--             <span>Diana Robertson</span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img src="images/face4.jpg" class="img-circle" alt=""> -->
<!--             <span>Emma Sullivan</span> -->
<!--           </a> -->
<!--         </li> -->
<!--       </ul> -->
<!--       <div class="heading"> -->
<!--         <span class="title">Page posts</span> -->
<!--       </div> -->
<!--       <ul class="predictive-list"> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img data-ng-src="images/unsplash/img2.jpeg" class="img-rounded" alt=""> -->
<!--             <span>The latest news for cloud-based developers </span> -->
<!--           </a> -->
<!--         </li> -->
<!--         <li> -->
<!--           <a class="avatar" href="#"> -->
<!--             <img data-ng-src="images/unsplash/img2.jpeg" class="img-rounded" alt=""> -->
<!--             <span>Trending Goods of the Week</span> -->
<!--           </a> -->
<!--         </li> -->
<!--       </ul> -->
<!--     </div> -->
<!--   </li> -->
<!-- </ul> -->


