  <div class="row" style="margin-bottom: 20px;">
	    <div class="col-md-1 border" style="margin-right:20px;">
				<a ui-sref="app.home.individual.config({stationId:stationId})" 
				ng-class="{'btn-danger form-submit':isCurrentState('app.node.individual.config')}"
				class="btn btn-primary form-submit">Config</a>
	    </div>
	    
	    <div class="col-md-1 border" style="margin-right:20px;">
				<a ui-sref="app.home.individual.route({stationId:stationId})"
				ng-class="{'btn-danger form-submit':isCurrentState('app.home.individual.route')}" 
				class="btn btn-primary form-submit">Route</a>
	    </div>
  </div>  