<div class="brand">
  <a class="brand-logo">
  
    <img src="images/web_hi_res_512.png" height="96px">
  </a>
  <a href="#" class="small-menu-visible brand-logo">Mao</a>
  <!-- /logo -->

</div>
<!-- navigation start! -->
<div class="nav" style="padding-top: 70px; padding-left: 15px;">
	<!-- line -->
	<div class="row">
		<hr/>
	</div>	
	<div class="row" style="margin-bottom:10px;" ng-class="{'text-danger':isCurrentState('app.user')}" ng-if="checkPermission('ROLE_ADMIN')" >
		<a ui-sref-active="active" ui-sref="app.user">
			<i class="fa fa-tachometer fa-2x fa-fw"> </i>
			<span>ข้อมูลผู้ใช้</span>
		</a>	
	</div>
	<div class="row" style="margin-bottom:10px;" ng-class="{'text-danger':isCurrentState('app.tray')}" ng-if="checkPermission('ROLE_STUD') || checkPermission('ROLE_PROF')" >
		<a ui-sref-active="active" ui-sref="app.patient">
			<i class="fa fa-tachometer fa-2x fa-fw"> </i>
			<span>ข้อมูลผู้ป่วย</span>
		</a>	
	</div>
		<div class="row" style="margin-bottom:10px;" ng-class="{'text-danger':isCurrentState('app.pt')}" ng-if="checkPermission('ROLE_STUD_PT')" >
		<a ui-sref-active="active" ui-sref="app.pt">
			<i class="fa fa-tachometer fa-2x fa-fw"> </i>
			<span>ข้อมูลผู้ป่วย(กายภาพบำบัด)</span>
		</a>	
	</div>
	</div>
		<div class="row" style="margin-bottom:10px;" ng-class="{'text-danger':isCurrentState('app.ph')}" ng-if="checkPermission('ROLE_STUD_PH')" >
		<a ui-sref-active="active" ui-sref="app.ph">
			<i class="fa fa-tachometer fa-2x fa-fw"> </i>
			<span>ข้อมูลผู้ป่วย(เภสัช)</span>
		</a>	
	</div>
	<div class="row" style="margin-bottom:10px;" ng-if="!isAuthenticated()">
      <a ui-sref="user.signin">
	     	<i class="fa fa-tachometer fa-2x fa-fw"> </i>
	        <span>เข้าสู่ระบบ</span>
      </a>	
	</div>
	<div class="row" style="margin-bottom:10px;" ng-if="isAuthenticated()">
      <a ui-sref="user.signout">
      	<i class="fa fa-sign-out fa-2x fa-fw"> </i>
        <span>ออกจากระบบ</span>
      </a>	
	</div>	
	<div class="row">
		<hr/>
	</div>	
</div>
