
<div class="p-x">
  <div class="row">
  	<div class="row text-center">
		<div class="col-sm-3 col-xs-6 p-t p-b">
			<h4 class="m-t-0 m-b-0">{{balance['BOOK1'].balance}}$</h4>
			<small class="text-muted bold">{{balance['BOOK1'].accountName}}</small>
		</div>
		<div class="col-sm-3 col-xs-6 p-t p-b">
			<h4 class="m-t-0 m-b-0">{{balance['BOOK2'].balance}}$</h4>
			<small class="text-muted bold">{{balance['BOOK2'].accountName}}</small>
		</div>
		<div class="col-sm-3 col-xs-6 p-t p-b">
			<h4 class="m-t-0 m-b-0">{{balance['BOOK3'].balance}}$</h4>
			<small class="text-muted bold">{{balance['BOOK3'].accountName}}</small>
		</div>
		<div class="col-sm-3 col-xs-6 p-t p-b">
			<h4 class="m-t-0 m-b-0">{{balance['BOOK4'].balance}}$</h4>
			<small class="text-muted bold">{{balance['BOOK4'].accountName}}</small>
		</div>
	</div>
  </div>
</div>
