<div class="p-x m-t-lg">
<h2>{{formName}}</h2>
  <div class="row">
 		<div  ui-grid="nbudgetGridOptions" class="grid" ui-grid-pagination>
  		</div>
  </div>
  <div class="row">
  		<table class="table" ng-if="checkPermission('ROLE_MAKER')">
  			<thead>
  				<tr>
  					<th>เอกสารเลขที่</th>
  					<th>รายการ</th>
  					<th>รายรับ</th>
  					<th>รายจ่าย</th>
  					<th>คงเหลือ</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ลูกจ้างชั่วคราว</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ค่าตอบแทน</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ค่าใช้สอย</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ค่าสาธารณูปโภค</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ค่าวัสดุ</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ค่าครุภัณฑ์</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">ค่าที่ดินสิ่งก่อสร้าง</th>
  					<th ng-if=" 'N_BUDGET' != paginationOptions.controlType">เงินอุดหนุน</th>
  					<th>หมายเหตุ</th>
  					<th>เพิ่ม</th>
  					<th>ลบ</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr ng-repeat="m in moneyControlList">
  					<td><input type="text" class="form-control" placeholder="" name="xdocNo" ng-model="m.docNo"></td>
  					<td><input type="text" class="form-control" placeholder="" name="xdescription" ng-model="m.description"></td>
  					<td><input type="text" class="form-control" placeholder="" name="xcashIn" ng-model="m.cashIn" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder="" name="xcashOut" ng-model="m.cashOut" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder="" name="xbalance" ng-model="m.balance" format="currency"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xtemporary" ng-model="m.temporary"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xcompensation" ng-model="m.compensation"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xusability" ng-model="m.usability"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xutility" ng-model="m.utility"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xmaterial" ng-model="m.material"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xdurable" ng-model="m.durable"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xlandBuild" ng-model="m.landBuild"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text" class="form-control" placeholder="" format="currency" name="xsubsidy" ng-model="m.subsidy"></td>
  					<td ><input type="text" class="form-control" placeholder="" name="xremark" ng-model="m.remark"></td>
  					<td></td>
  					<td><button class="btn btn-danger" ng-click="deleteFromList($index)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
  				</tr>
  				<tr>
  					<td><input type="text" class="form-control" placeholder="" name="docNo" ng-model="moneyControl.docNo"></td>
  					<td><input type="text" class="form-control" placeholder="" name="description" ng-model="moneyControl.description"></td>
  					<td><input type="text" class="form-control" placeholder="" name="cashIn" ng-model="moneyControl.cashIn" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder="" name="cashOut" ng-model="moneyControl.cashOut" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder="" name="balance" ng-model="moneyControl.balance" format="currency"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="temporary" ng-model="moneyControl.temporary"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="compensation" ng-model="moneyControl.compensation"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="usability" ng-model="moneyControl.usability"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="utility" ng-model="moneyControl.utility"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="material" ng-model="moneyControl.material"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="durable" ng-model="moneyControl.durable"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="landBuild" ng-model="moneyControl.landBuild"></td>
  					<td ng-if=" 'N_BUDGET' != paginationOptions.controlType"><input type="text"  class="form-control" placeholder="" format="currency" name="subsidy" ng-model="moneyControl.subsidy"></td>
  					<td><input type="text" class="form-control" placeholder="" name="remark" ng-model="moneyControl.remark"></td>
  					<td><button class="btn btn-primary" ng-click="addToList(moneyControl)" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
  					<td></td>
  				</tr>
  			</tbody>
  		</table>
  		<button ng-if="checkPermission('ROLE_MAKER')" class="btn btn-primary" ng-click="save()" ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>บันทึก</button>
  </div>
</div>
