<div class="p-x m-t-lg">
<h2>{{mobilize.DRAFT.value1}}</h2>
  <div class="row">
  	<h2 class="center">{{functions.MOBILIZE.value1}}</h2>
  </div>
  <div class="row">
  
  
	<form class="form-horizontal" role="form" name="reportForm">
			          
			          <div class="form-group">
			          	<div class="col-sm-10">
			          		<table class="table">
					  			<thead>
					  				<tr>
					  					<th>ลำดับที่</th>
					  					<th>รายการ</th>
					  					<th>จำนวนเงิน</th>
					  					<th></th>
					  					<th></th>
					  				</tr>
					  			</thead>
					  			<tbody>
					  				<tr ng-repeat="c in mobilizeList">
					  					<td><input ng-disabled="!checkPermission('ROLE_MAKER')" type="number" ng-readOnly="true" class="form-control" placeholder="" name="no" ng-model="c.no"></td>
					  					<td><input ng-disabled="!checkPermission('ROLE_MAKER')" type="text" class="form-control" placeholder="" name="description" ng-model="c.description"></td>
					  					<td><input ng-disabled="!checkPermission('ROLE_MAKER')" type="text" class="form-control" placeholder="" name="amount" ng-model="c.amount" format="currency"></td>
					  					<td></td>
					  					<td><button ng-disabled="!checkPermission('ROLE_MAKER')" lass="btn btn-danger" ng-click="deleteFromList($index)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
					  				</tr>
					  				<tr>
					  					<td></td>
					  					<td><input ng-disabled="!checkPermission('ROLE_MAKER')" type="text" class="form-control" placeholder="" name=description ng-model="mobilizeRow.description"></td>
					  					<td><input ng-disabled="!checkPermission('ROLE_MAKER')" type="text" class="form-control" placeholder="" name="amount" ng-model="mobilizeRow.amount" format="currency"></td>
					  					<td><button ng-disabled="!checkPermission('ROLE_MAKER')" class="btn btn-primary" ng-click="addToList()" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
					  					<td></td>
					  				</tr>
					  			</tbody>
					  		</table>
			          	</div>
			          </div>  
			          
			          <button class="btn btn-primary" ng-if="checkPermission('ROLE_MAKER')" ng-click="save()" ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>บันทึก</button>
			          <button class="btn btn-danger" ng-if="mode =='view'" title="Print" ng-click="printPdf(mobilize);" ><i class="fa fa-print" aria-hidden="true"></i> พิมพ์</button>
	</form>
  </div>
</div>
