	<form class="form-horizontal" role="form">
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">แพทย์ผู้ตรวจ </label>
			  	<div class="col-sm-8">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="examiner" ng-model="pt.examiner">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">การวินิจฉัยโรค </label>
			  	<div class="col-sm-8">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="diagnosis" ng-model="pt.diagnosis">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ข้อห้าม / ข้อควรระมัดระวัง </label>
			  	<div class="col-sm-8">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="caution" ng-model="pt.caution">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">แรกรับการรักษาทางกายภาพบำบัด วันที่ </label>
			  	<div class="col-sm-8">
			  		<label class="control-label">{{pt.checkin| date:"dd/MM/yyyy"}}</label>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">อาการสำคัญ (Chief complaint; C/C) / อาการหลัก (Principle Symptom; PS) </label>
			  	<div class="col-sm-8">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="symtons" ng-model="pt.symtons">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">Upload image </label>
			  	<div class="col-sm-8">
        		  	<img alt="" ng-src="/ipe/service/pt/viewImage/{{pt.image}}" style="    width: 100%;">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">Agg </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="agg" ng-model="pt.agg">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">AM </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="am" ng-model="pt.am">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Eases </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="eases" ng-model="pt.eases">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Day </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="day" ng-model="pt.day">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Irritability </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="irritability" ng-model="pt.irritability">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">PM </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="pm" ng-model="pt.pm">
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label"> </label>
			  	<div class="col-sm-4">
		            	
	            </div>
	  			<label class="col-sm-2 text-uppercase control-label">Night </label>
			  	<div class="col-sm-4">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="night" ng-model="pt.night">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติการเจ็บป่วยปัจจุบัน (History of Present Illness; HPI) </label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.histPresSickness"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติการเจ็บป่วยอดีต (Past History; PH)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.histPassSickness"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติสังคม-ส่วนตัว (Social-Personal History; SH)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.histSocial"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ประวัติการเจ็บป่วยของครอบครัว (Family History; FH)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.histFamily"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
				<label class="col-sm-2 text-uppercase control-label">Systems Review : General Health</label>
			  	<div class="col-sm-8">
		            	<table class="table table-fixed-layout">
						<tr>
							<th>Items</th>
							<th>Yes/No</th>
							<th>Comments</th>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM1.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item1" ng-model="pt.item1" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item1" ng-model="pt.item1" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment1" ng-disabled="true" ng-model="pt.comment1"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM2.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item2" ng-model="pt.item2" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item2" ng-model="pt.item2" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment2" ng-disabled="true" ng-model="pt.comment2"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM3.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item3" ng-model="pt.item3" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item3" ng-model="pt.item3" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment3" ng-disabled="true" ng-model="pt.comment3"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM4.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item4" ng-model="pt.item4" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item4" ng-model="pt.item4" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment4" ng-disabled="true" ng-model="pt.comment4"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM5.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item5" ng-model="pt.item5" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item5" ng-model="pt.item5" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment5" ng-disabled="true" ng-model="pt.comment5"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM6.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item6" ng-model="pt.item6" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item6" ng-model="pt.item6" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment6" ng-disabled="true" ng-model="pt.comment6"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM7.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item7" ng-model="pt.item7" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item7" ng-model="pt.item7" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment7" ng-disabled="true" ng-model="pt.comment7"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM8.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item8" ng-model="pt.item8" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item8" ng-model="pt.item8" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment8" ng-disabled="true" ng-model="pt.comment8"></td>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM9.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item9" ng-model="pt.item9" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item9" ng-model="pt.item9" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment9" ng-disabled="true" ng-model="pt.comment9"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM10.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item10" ng-model="pt.item10" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item10" ng-model="pt.item10" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment10" ng-disabled="true" ng-model="pt.comment10"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM11.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item11" ng-model="pt.item11" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item11" ng-model="pt.item11" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment11" ng-disabled="true" ng-model="pt.comment11"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM12.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item12" ng-model="pt.item12" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item12" ng-model="pt.item12" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment12" ng-disabled="true" ng-model="pt.comment12"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM13.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item13" ng-model="pt.item13" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item13" ng-model="pt.item13" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment13" ng-disabled="true" ng-model="pt.comment13"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM14.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item14" ng-model="pt.item14" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item14" ng-model="pt.item14" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment14" ng-disabled="true" ng-model="pt.comment14"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM15.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item15" ng-model="pt.item15" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item15" ng-model="pt.item15" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment15" ng-disabled="true" ng-model="pt.comment15"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM16.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item16" ng-model="pt.item16" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item16" ng-model="pt.item16" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment16" ng-disabled="true" ng-model="pt.comment16"></td>
						</tr>
						<tr>
							<td class="text-left-imp">{{param.PT.ITEM17.infoTh}}</td>
							<td>
								<div class="form-group">
								<label class="radio-inline">
							    	<input type="radio" name="item17" ng-model="pt.item17" ng-disabled="true" ng-value="'Y'">
							    	Yes
							  	</label>
			          		  	<label class="radio-inline">
							    	<input type="radio" name="item17" ng-model="pt.item17" ng-disabled="true" ng-value="'N'">
							    	No
							  	</label>
							  	</div>
							</td>
							<td><input type="text" class="form-control" placeholder="" name="comment17" ng-disabled="true" ng-model="pt.comment17"></td>
						</tr>
					</table>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">สมมติฐานการวินิจฉัยโรค</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.assumpDianosis"></textarea>
	            </div>
	  		</div>
	  		<hr>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>การตรวจร่างกาย (Physical Examination)</b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>การตรวจร่างกาย</th>
	          					<th>แปลผล</th>
	          					<th>วันที่ตรวจ</th>
	          				</tr>
	          				<tr ng-repeat="ex in examinations">
	          					<td>{{ex.action}}</td>
	          					<td>{{ex.result}}</td>
	          					<td>{{ex.examDate| date:"dd/MM/yyyy"}}</td>
	          				</tr>
	          			</table>
		          	</div>
	        </div> 
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">การวินิจฉัยทางกายภาพบำบัด </label>
			  	<div class="col-sm-8">
		            	<input type="text" ng-disabled="true" class="form-control" placeholder="" name="physicalDiagnosis" ng-model="pt.physicalDiagnosis">
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">ผลการตรวจร่างกายที่ยืนยันการวินิจฉัย </label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.confirmDiagnosis"></textarea>
	            </div>
	  		</div>
	  		<hr>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>สรุปปัญหาและวิเคราะห์ปัญหา </b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>Functional Limitation </th>
	          					<th>Impairment</th>
	          					<th>Pathology</th>
	          				</tr>
	          				<tr ng-repeat="con in concludeAnalysis">
	          					<td>{{con.functional}}</td>
	          					<td>{{con.impairment}}</td>
	          					<td>{{con.pathology}}</td>
	          				</tr>
	          			</table>
		          	</div>
	        </div>
	        <hr>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">วัตถุประสงค์ระยะสั้น (Short term Goals)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.shortTermGoal"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">วัตถุประสงค์ระยะยาว (Long term Goals)</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.longTermGoal"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
	  			<label class="col-sm-2 text-uppercase control-label">การพยากรณ์โรค</label>
			  	<div class="col-sm-8">
		            	<textarea class="form-control" ng-disabled="true" rows="3" cols="105" ng-model="pt.prediction"></textarea>
	            </div>
	  		</div>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>เป้าหมาย การวางแผนการรักษา การรักษา และการประเมินผล   </b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>Goal</th>
	          					<th>Due Date </th>
	          					<th>Treatment Plan</th>
	          					<th>Treatment</th>
	          					<th>Evaluation</th>
	          				</tr>
	          				<tr ng-repeat="g in goals">
	          					<td>{{g.goal}}</td>
	          					<td>{{g.dueDate | date:"dd/MM/yyyy"}}</td>
	          					<td>{{g.plan}}</td>
	          					<td>{{g.treatment}}</td>
	          					<td>{{g.evaluation}}</td>
	          				</tr>
	          			</table>
		          	</div>
	        </div>
			<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label"><b>Physical Therapy Progression Note (SOAP/SOAPIE) (บันทึกความก้าวหน้าในการักษาผู้ป่วย ในรูปแบบ SOAP หรือ SOAPIE) </b></label>
	          		<div class="col-sm-8">
	          			<table class="table table-fixed-layout">
	          				<tr>
	          					<th>Date </th>
	          					<th>Progress Note </th>
	          				</tr>
	          				<tr ng-repeat="n in notes">
	          					<td>{{n.date | date:"dd/MM/yyyy"}}</td>
	          					<td>{{n.note}}</td>
	          				</tr>
	          			</table>
		          	</div>
	        </div>
  		</form>