<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Collectors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th>Password</th>
					<th>Name</th>
					<th>enabled</th>
					<th>Division</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="us : ${userList}">
					<td><a th:href="@{'/user/'+${{us.userId}}+'/role'}"><p th:text="${us.userName}" /></a></td>
					<td th:text="${{us.password}}"></td>
					<td th:text="${{us.name}}"></td>
					<td th:text="${{us.enabled}}"></td>
					<td th:text="${{us.division}}"></td>
				</tr>
			</tbody>
		</table>

</body>
</html>