<div class="main1 page-height-o row-equal align-middle">
  <div class="column" >
    <div class="card no-border">
      <div class="card-block" style="background:#ffdd54;">
        <form role="form" class="form-layout" method="post" ng-submit="login()" name="loginForm">
          <div class="text-center m-b">
          	<i class="fa-2x fa-spin fa fa-cog" aria-hidden="true"></i>
            <h4 class="text-uppercase">
            	<img src="images/web_hi_res_512.png" height="96px">
            </h4>
          </div>
          <div class="form-inputs">
            <label class="text-uppercase">User name</label>
            <input type="text" class="form-control input-lg" placeholder="Username" ng-model="user.username" required>
            <label class="text-uppercase">Password</label>
            <input type="password" class="form-control input-lg" placeholder="Password" ng-model="user.password" required>
          </div>
          <button class="btn btn-default btn-block btn-lg m-b" type="submit">Login</button>
<!--           <div class="divider">
            <span>OR</span>
          </div>
          <button type="button" class="btn btn-primary btn-block btn-lg m-b" ng-click="authenticate('facebook')">Sign in with Facebook</button>
          <p class="text-center">
            <small>
              <em>By clicking Log in you agree to our <a href="#">terms and conditions</a></em>
            </small>
          </p> -->
        </form>
      </div>
     <!--  <a ui-sref="user.forgot" class="bottom-link">Forgotten password?</a> -->
    </div>
  </div>
</div>
