<div class="p-x m-t-lg">
	<h2>{{functions.SCHOOL_INCOME.value1}}</h2>
  <div class="row">
 		<div  ui-grid="incomeGridOptions" class="grid" ui-grid-pagination>
  		</div>
  </div>
  <div class="row">
  		<table class="table" ng-if="checkPermission('ROLE_MAKER')">
  			<thead>
  				<tr>
  					<th>ที่เอกสาร</th>
  					<th>เล่มที่</th>
  					<th>รายการ</th>
  					<th>เงินรายได้สถานศึกษา</th>
  					<th>ผลประโยชน์อื่น ๆ</th>
  					<th>ดอกเบี้ย</th>
  					<th>เงินรายได้อื่น ๆ</th>
  					<th>หมายเหตุ</th>
  					<th></th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr ng-repeat="c in budgetList track by $index">
  					<td><input type="text" class="form-control" placeholder="" name="docNo" ng-model="c.docNo"></td>
  					<td><input type="text" class="form-control" placeholder="" name="recordNo" ng-model="c.recordNo"></td>
  					<td><input type="text" class="form-control" placeholder="" name="description" ng-model="c.description"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="income" ng-model="c.income" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="extra" ng-model="c.extra" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="interest" ng-model="c.interest" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="other" ng-model="c.other" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder="" name="remark" ng-model="c.remark"></td>
  					<td></td>
  					<td><button class="btn btn-danger" ng-click="deleteFromList($index)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
  				</tr>
  				<tr>
  					<td><input type="text" class="form-control" placeholder="" name="docNo" ng-model="budget.docNo"></td>
  					<td><input type="text" class="form-control" placeholder="" name="recordNo" ng-model="budget.recordNo"></td>
  					<td><input type="text" class="form-control" placeholder="" name="description" ng-model="budget.description"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="income" ng-model="budget.income" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder=""   name="extra" ng-model="budget.extra" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="interest" ng-model="budget.interest" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder=""  name="other" ng-model="budget.other" format="currency"></td>
  					<td><input type="text" class="form-control" placeholder="" name="remark" ng-model="budget.remark"></td>
  					<td><button class="btn btn-primary" ng-click="addToList(budget)" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
  					<td></td>
  				</tr>
  			</tbody>
  		</table>
  		<button ng-if="checkPermission('ROLE_MAKER')" class="btn btn-primary" ng-click="save()" ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>บันทึก</button>
  </div>
</div>
